<!DOCTYPE html>
<html>


	<head>
		<title>Base-WebApp</title>
		<meta charset="UTF-8">
		<script src="../js/jquery.js"></script>
		<link rel="stylesheet" href="../css/bootstrap.css"/>
		<script src="../js/bootstrap.js"/></script>
		<script src="../js/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="../css/style.css"/>

	</head>

<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between sticky-top ">
					<ul class="navbar nav">
						<li class="nav-item active"><a class="nav-item active" href="/"><h3 class="nav-link">Base-WebApp</h3></a></li>
					</ul>
			<div class="navbar justify-content-end">
				<div class="navbar justify-content-end">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					   <span class="navbar-toggler-icon"></span>
					</button>
				</div>
  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar nav mr-auto">
							<li class="nav-item active"> <a class="nav-link" href="/">Index</a></li>
							<li class="nav-item active"> <a class="nav-link" href="/other/Pricing">Pricing</a></li>
						{{#if user}}
							<li class="nav-item active"> <a class="nav-link" href="/other/Dashboard">Dashboard</a></li>
							<li class="nav-item active"> <a class="nav-link" href="/exports/dual">Projet</a></li>
							<li class="nav-item active"> <a class="nav-link" href="/exports/api">Afficher db</a></li>
						{{#if admin}}
							<li class="nav-item active"> <a class="nav-link" href="/admin/">admin</a></li>
						{{/if}}
							<li class="nav-item active"> <a class="nav-link" href="/users/logout">Logout</a></li>
						{{else}}
							<li class="nav-item active"> <a class="nav-link" href="/users/login"><button type="button" class="btn btn-primary">Login</button></a></li>
						{{/if}}
					</ul>
				</div>
			</div>
		</nav>

{{#if success_msg}}
	<div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
	<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{/if}}

	{{{body}}}

			<div class="footer">
					<div class="containerfluid bg-light d-flex justify-content-around">
					<div class="">
						<a class="nav-link" href="https://dualbox.com/terms">Therme of service</a>
					</div>


					<div class="">
						<a class="nav-link" href="https://dualbox.com/">&copy; Dioxygen Software, 2018 Inc</a>
					</div>
					</div>
				</div>



</body>
</html>
