<!DOCTYPE html>
<html>


	<head>
		<title>Base-WebApp</title>
		<meta charset="UTF-8">
		<script src="../js/jquery.js"></script>
		<link rel="stylesheet" href="../css/bootstrap.css"/>
		<script src="../js/bootstrap.js"/></script>
		<script src="../js/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="../css/style.css"/>
        <link href="../css/modern-business.css" rel="stylesheet">

	</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Base-WebApp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/other/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/other/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/other/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
            {{#if user}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProjet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projets
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProjet">
                <a class="dropdown-item" href="/other/dashboard">Dashboard</a>
                <a class="dropdown-item" href="/exports/dual">New Projet</a>
                <a class="dropdown-item" href="/exports/projects1">My projects 1</a>
                <a class="dropdown-item" href="/exports/projects2">My projects 2</a>
                <a class="dropdown-item" href="/exports/projects3">My projects 3</a>
                <a class="dropdown-item" href="/exports/projects4">My projects 4</a>
              </div>
            </li>
            {{/if}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="/other/blog-home-1">Blog Home 1</a>
                <a class="dropdown-item" href="/other/blog-home-2">Blog Home 2</a>
                <a class="dropdown-item" href="/other/blog-post">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownOther">
                <a class="dropdown-item" href="/other/full-width">Full Width Page</a>
                <a class="dropdown-item" href="/other/sidebar">Sidebar Page</a>
                <a class="dropdown-item" href="/other/faq">FAQ</a>
                <a class="dropdown-item" href="/other/404">404</a>
                <a class="dropdown-item" href="/other/pricing">Pricing Table</a>
              </div>
            </li>
            {{#if user}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.email}} </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/profile">Account Settings</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Help</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
              </ul>
            </li>
            {{#if admin}}
            <li class="nav-item">
              <a class="nav-link" href="/admin/admin">Administration</a>
            </li>
            {{/if}}
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            {{/if}}

          </ul>
        </div>
      </div>
    </nav>


{{#if success_msg}}
	<div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
	<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{/if}}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Admnistration</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">About</li>
  </ol>

  <!-- Content Row -->
  <div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
      <div class="list-group">
        <a href="/admin/userlist" class="list-group-item">User list</a>
        <a href="#" class="list-group-item">Language</a>
        <a href="#" class="list-group-item">Plan</a>
        <a href="#" class="list-group-item">#######</a>
        <a href="#" class="list-group-item">#######</a>
        <a href="#" class="list-group-item">#######</a>
        <a href="#" class="list-group-item">#######</a>

      </div>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">
      {{{body}}}
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

</body>
</html>
