
<div class="container col-lg-9 flex justify-content-end">
	<div class="containerfluid">
		<div class="card">
			<div class="card-header align-items-center d-flex justify-content-between">
				<div class="containerfluid">
					<h3>Profile</h3>
				</div>
				<div class="containerfluid">
					<form method="post" action="/admin/admin-delete-user/{{db_user.[0]._id}}">
						<button class="btn btn-danger">Delet user</button>
					</form>
				</div>
			</div>

		<div class="card-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td><b>Role:</b></td>
						<td><div class="form-group">
							<select  id="multiSelect1" class="form-control form-control-sm">
								{{#if db_user.[0].isAdmin}}
								<option selected value="1">Admin</option>
								<option value="2">User</option>
								{{else}}
								<option value="1">Admin</option>
								<option selected value="2">User</option>
								{{/if}}
							</select>
							</div>
						</td>
					</tr>
					<tr>
						<td><b>Name:</b></td>
						<td>{{db_user.[0].name}}</td>
					</tr>
					<tr>
						<td><b>Username:</b></td>
						<td>{{db_user.[0].username}}</td>
					</tr>
					<tr>
						<td><b>Register date:</b></td>
						<td>{{formaDate db_user.[0].registerdate}} </td>
					</tr>
					<tr>
						<td><b>Email</b></td>
						<td><a href="mailto:{{db_user.[0].email}}">{{db_user.[0].email}}</a></td>
					</tr>
					<tr>
						<td><b>Number of projects:</b></td>
						<td>{{db_data.length}}</b></td>
					</tr>
					<tr>
						<td><b>Validated user:</b></td>
						<td>
							<div class="form-check">
								<form method="post" action="/admin/admin-validate-user/{{db_user.[0]._id}}">
									{{#if db_user.[0].validated}}
										<input class="form-check-input"  disabled="disabled" type="checkbox" value="" id="defaultCheck1" checked>
									{{else}}
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onClick="this.form.submit();">
									{{/if}}
									<label class="form-check-label" for="defaultCheck1">
							    Validate
							  	</label>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="container d-flex justify-content-between">
				<a href="/admin/admin-edit-profile/{{db_user.[0].id}}" class="btn btn-primary ">Edit {{this.name}} profile</a>
				<a href="/admin/admin-change-password/{{db_user.[0]._id}}" class="btn btn-primary ">Change {{this.name}} password</a>
			</div>
		</div>
	</div>
	<div><br></div>
	<div class="containerfluid">
		<div class="card">
			<h3 class="card-header">Project</h3>
			<div class="card-body">
				<div class="container">
					<table class="table table-hover table-responsive-xl ">
		                <thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Creation</th>
							<th scope="col">Lastedit</th>
							<th scope="col">Deleted</th>
							<th scope="col"></th>

						</tr>
					</thead>
					{{#each db_data}}
						<tbody>
							<tr>
								<th scope="row">{{math @index "+" "1"}}</th>
								<td>{{this.name}}</td>
								<td>{{formaDate this.creationdate}}</td>
								<td>{{formaDate this.lastedit}}</td>
								{{#if this.deleted}}
									<td>Yes</td>
								{{else}}
									<td>No</td>
								{{/if}}
								<td><a href="/exports/{{this._id}}" class="btn btn-primary">Edit</a></td>
							</tr>
						</tbody>
					{{/each}}
				</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script>
$('#multiSelect1').multiselect({
    onChange: function() {
        var selected = $('#multiSelect1 option:selected').val();
        if (selected == 1) {
            $.ajax({
                type: "post",
                url: 'http://localhost:3000/admin/admin-makeadmin-user/{{db_user.[0]._id}}',
                contentType: "application/json",
				success:    function(data) {
		            {{> alert-success}}
		        },
		        error: function(data) {
		            {{> alert-error}}
		        },
            })
        }
        if (selected == 2) {
            $.ajax({
                type: "post",
                url: 'http://localhost:3000/admin/admin-removeadmin-user/{{db_user.[0]._id}}',
                contentType: "application/json",
				success:    function(data) {
		            {{> alert-success}}
		        },
		        error: function(data) {
		            {{> alert-error}}
		        },
            })
        }
    }
});
</script>
