<div class="card">
	<div class="card-header d-flex justify-content-between">
		<div class="containerfluid align-self-center">
			<h3>{{this.name}} Profile</h3>
		</div>
		<div class="containerfluid">
			<form method="post" action="/admin/admin-delete-user{{db_User.[0]._id}}">
				<button class="btn btn-danger btn-lg ">Delet user</button>
			</form>
		</div>
		<div class="containerfluid">
			{{#if db_User.[0].isAdmin}}
				<form method="post" action="/admin/admin-removeadmin-user{{db_User.[0]._id}}">
					<button class="btn btn-danger btn-lg ">Remove admin right</button>
				</form>
			{{else}}
				<form method="post" action="/admin/admin-makeadmin-user{{db_User.[0]._id}}">
					<button class="btn btn-danger btn-lg ">Make admin this user</button>
				</form>
			{{/if}}
		</div>
	</div>
	<div class="card-body">
		<table class="table table-user-information">
			<tbody>
				<tr>
					<td>Role:</td>
					{{#if db_User.[0].isAdmin}}
						<td>Admin</td>
					{{else}}
						<td>User</td>
					{{/if}}
				</tr>
				<tr>
					<td>Name:</td>
					<td>{{db_User.[0].name}}</td>
				</tr>
				<tr>
					<td>Username:</td>
					<td>{{db_User.[0].username}}</td>
				</tr>
				<tr>
					<td>Register date:</td>
					<td>{{db_User.[0].registerdate}} </td>
				</tr>
				<tr>
					<td>Email</td>
					<td><a href="mailto:{{db_User.[0].email}}">{{db_User.[0].email}}</a></td>
				</tr>
				<tr>
					<td>Number of projects:</td>
					<td>{{db_Data.length}}</td>
				</tr>
				<tr>
					<td>Validated user:</td>
					<td>{{db_User.[0].validated}} </td>
				</tr>
			</tbody>
		</table>
		<div class="container d-flex justify-content-between">
			<a href="/admin/admin-edit-profile{{db_User.[0].id}}" class="btn btn-primary btn-lg  ">Edit {{this.name}} profile</a>
			<form method="post" action="/admin/admin-validate-user{{db_User.[0]._id}}">
				<button class="btn btn-primary btn-lg ">Validate user</button>
			</form>
			<a href="/admin/admin-change-password{{db_User.[0]._id}}" class="btn btn-primary btn-lg  ">Change {{this.name}} password</a>
		</div>
	</div>
</div>


<div class="card">
	<h3 class="card-header">{{this.name}} Project</h3>
	<div class="card-body">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Creation</th>
					<th scope="col">Lastedit</th>
					<th scope="col">Deleted</th>
					<th scope="col"></th>

				</tr>
			</thead>
			{{#each db_Data}}
				<tbody>
					<tr>
						<th scope="row">{{@index}}</th>
						<td>{{this.name}}</td>
						<td>{{this.creationdate}}</td>
						<td>{{this.lastedit}}</td>
						{{#if this.deleted}}
							<td>Yes</td>
						{{else}}
							<td>No</td>
						{{/if}}
						<td><a href="/exports/{{this._id}}" class="btn btn-primary">Edit</a></td>
					</tr>
				</tbody>
			{{/each}}
		</table>
	</div>
