<div class="container">
	<h1 class="mt-4 mb-3">Projets
    {{#if admin}}
      <small>You are an admin.</small>
    {{/if}}

  </h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item active">Projects version portfolio 2</li>
	</ol>

	<div class="row">
		{{#each dbData}}
			<div class="col-lg-6 portfolio-item">
				<div class="card h-100">
					<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
					<div class="card-body">
						<h3 class="card-title">Name: {{this.name}}</h3>
						<p>Corp: {{this.corp}}</p>
						<p>Creation date: {{formaDate this.creationdate}}</p>
						<p>Last edit: {{formaDate this.lastedit}}</p>
					</div>
					<div class="containerfluid d-flex justify-content-center">
						<a type="button" href="/exports/{{this._id}}" class="btn btn-primary" style=" margin-bottom: 10px">Edit</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
