<div class="container">
	<h1 class="mt-4 mb-3">Projets
    {{#if admin}}
      <small>You are an admin.</small>
    {{/if}}

  </h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item active">Projects version portfolio 1</li>
	</ol>

	{{#each dbData}}
		<div class="row">
			<div class="col-md-7">
				<a href="#">
            <img class="card-img-top" src="http://placehold.it/700x300" alt="">
          </a>
			</div>
			<div class="col-md-5">
                <h3><b>Name project:</b> {{this.name}}</h3>
                <p><b>Owner Name:</b>  {{this.ownerName}}</p>
                <p><b>Corp:</b> {{this.corp}}</p>
                <p><b>Creation date</b>: {{formaDate this.creationdate}}</p>
                <p><b>Last edit:</b> {{formaDate this.lastedit}}</p>
				<a class="btn btn-primary" href="/exports/{{this._id}}">Edit</a>
			</div>
		</div>
		<hr>
	{{/each}}
</div>
