<div class="container col-lg-9">
	<div class="card">
		<h4 class="card-header">Profile</h4>
		<div class="card-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td>Rank:</td>
						{{#if admin}}
							<td>Admin</td>
						{{else}}
							<td>User</td>
						{{/if}}
					</tr>
					<tr>
						<td>Name:</td>
						<td>{{user.name}}</td>
					</tr>
					<tr>
						<td>Username:</td>
						<td>{{user.username}}</td>
					</tr>
					<tr>
						<td>Register date:</td>
						<td>{{formadate user.registerdate}}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
				</tbody>
			</table>
			<a href="/users/user-edit-profile" class="btn btn-primary btn-lg  btn-block">Edit profile</a>
		</div>
	</div>
</div>
